:root {
    --black-chocolate: #1d1a05ff;
    --paradise-pink: #ef476fff;
    --isabelline: #f2efeaff;
    --avocado: #697a21ff;
    --acid-green: #a5be00ff;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    outline: none;
}

html {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 100%;
    background: var(--isabelline);
    /*background: linear-gradient(0deg, rgba(255, 255, 255, 1) 49.99%, var(--black-chocolate) 50%);*/
}

.wrapper {
    display: flex;
    flex-flow: column;
    width: 100%;
    background-color: var(--black-chocolate);
    align-items: center;
}

.side-by-side-wrapper {
	display: flex;
	justify-items: center;
	align-items: flex-start;
	justify-content: center;
	width: 100%;
	flex-wrap: wrap;
}

.side-by-side-wrapper1 {
	display: flex;
	justify-items: center;
	align-items: flex-start;
	justify-content: center;
	width: 100%;
	flex-wrap: wrap;
}

.side-by-side-wrapper1 > div {
	margin: 1rem 3rem;
}

.side-by-side-wrapper1 > iframe {
	border-radius: 1rem;
	min-width: 1/3vw;
	aspect-ratio: 16/9;
	background: transparent;
	margin: 1rem 3rem;
	max-width: 100%;
}

.middle-wrapper {
    width: fit-content;
    padding: 3rem 2rem 1rem 2rem;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.bottom-wrapper {
    padding: 3rem 2rem 1rem 2rem;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.info-wrapper {
	width:50%;
	margin: 1rem 0rem;
}

.title {
	padding-bottom: 1.5rem;
}

td > p {
    line-break: anywhere;
}

img {
    image-rendering: pixelated;
    width: 640px;
}

div.area-wrapper {
    border: solid 1px;
    border-color: var(--black-chocolate);
    overflow: hidden;
    width: 100%;
    height: 35vh;
    border-radius: 25px;
}

footer {
    width: 100%;
    background-color: var(--black-chocolate);
    color: white;
    padding: 1%;
}

textarea {
    resize: none;
    overflow: auto;
    padding: 10px;
    white-space: pre;
    width: 100%;
    height: 100%;
    border: none;
}

progress {
    width: 100%;
    height: 4vh;
}

#preview {
	max-width: 100%;
}

h1 {
	font-size: 4.5rem;
    align-self: start;
    color: var(--acid-green);
	margin: 0rem 1rem;
}

h2 {
    font-weight: 300;
    font-size: 2.5em;
    align-self: start;
    color: var(--acid-green);
	margin: 0rem 1rem;
}

@media only screen and (max-width: 600px) {
	h1 {
		font-size: 10vw;
	}

	h2 {
		font-size: 8vw;
		display: none;
	}

	.bottom-wrapper {
		padding: 0rem 1rem;
	}

	.info-wrapper {
		width: 100%;
		padding: 0rem 1rem;
	}
}

span {
    padding: 4px 5px;
    font-size: 1.4em;
    color: var(--paradise-pink);
    font-weight: bold;
    align-self: start;
}

main {
    font-size: 1em;
    color: var(--black-chocolate);
    width: clamp(10em, 50%, 75em);
}

input[type="text"],
input[type="submit"],
input[type="button"] {
    text-align: center;
    border-radius: 30px;
    padding: 5px;
    font-size: 1.3em;
    border: solid 1px;
    border-color: var(--black-chocolate);
}

input[type="text"] {
    margin: 15px 0px;
    width: 100%;
}

input[type="submit"] {
    margin: 15px 0px;
    background: var(--paradise-pink);
    border: solid 2px;
    color: var(--isabelline);
    border-color: hsl(346 75% 51% / 1);
}

input[type="submit"]:hover {
    cursor: pointer;
}

a {
    color: var(--paradise-pink);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a.button {
    background: var(--paradise-pink);
    border: solid 2px;
    color: var(--isabelline);
    border-color: hsl(346 75% 51% / 1);
    text-align: center;
    border-radius: 30px;
    padding: 5px 10px;
    font-size: 1.3em;
    margin: 1%;
    text-decoration: none;
}

p {
    font-size: 1.1em;
}

.code {
    border: solid 1px;
    border-color: var(--black-chocolate);
    border-radius: 1rem;
    padding: 0rem;
    background: white;
    margin: 0.5rem;
	max-width: 100%;
}

.code > p {
	padding: 0rem 0.5rem;
	margin: 0rem;
	font-size: 1rem;
	font-family: 'Courier New', Courier, monospace;
	line-height: normal;
	width: 100%;
}

.code p:nth-child(2n) {
	background-color: rgb(230, 230, 230);
}

.coding {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
}

.coding > span {
	width: 100%;
	text-align: center;
}

body {
    display: flex;
    flex-flow: column;
    align-content: center;
    align-items: center;
}

img {
    margin: 5% 0px;
    border-radius: 20px;
    border: solid 1px hsl(0deg 0% 30%);
}

form {
    display: flex;
    flex-flow: column;
    align-items: center;
}

form input[type="submit"] {
    margin: 10px;
    padding: 10px;
}

table {
    margin: 1em;
}

table,
th,
td {
    border-collapse: collapse;
    border: 1px solid;
    border-color: var(--black-chocolate);
    padding: 0.25em 0.5em;
}

table td:nth-child(3) {
    color: red;
}

.list-wrapper {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
}

.info-wrapper {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
}

.preview-wrapper {
	max-width: 100%;
}

#preview {
	width: 100%;
}

#preview > img {
	max-width: 100%;
	background-color: white;
}

#skinfile {
	margin: 0.5rem;
}


