@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;


* {
	box-sizing: border-box;
}

table { height: 1px; }
tr { height: 100%; }
td { height: 100%; }
td > div { height: 100%; }